@inject ISqlBatteryRepository SqlBatteryRepository
@using SimpleMqtt
@inject SimpleMqttClient mqttClient
@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <NavLink class="nav-link" href="info&settings" title="Info & Settings">
            <i class="fas fa-info-circle" style="color:rgb(0, 79, 198);">Info & Settings</i>
        </NavLink>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interactions">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Interactions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="activities">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Activities
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quizquestions">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Quiz questions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sensordata">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sensor data
            </NavLink>
        </div>
        <div class="px-3 mb-3">
            <button class="btn btn-success btn-lg w-100" @onclick="StartRobot">Start Robot</button>
        </div>

        <div class="px-3 mb-2">
            <button class="btn btn-danger btn-lg w-100" @onclick="StopRobot">Stop Robot</button>
        </div>
    </nav>

</div>


@code {
    private async Task StartRobot()
    {
        await mqttClient.PublishMessage("1", "robot/2242722/command/start");
    }

    private async Task StopRobot()
    {
        await mqttClient.PublishMessage("1", "robot/2242722/command/stop");
    }
}