@inject ISqlBatteryRepository SqlBatteryRepository
@using SimpleMqtt
@inject SimpleMqttClient mqttClient
@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <NavLink class="nav-link" href="info&settings" title="Info & Settings">
           <i class="fas fa-info-circle me-2" style="color:white;"></i>
            <span class="fw-bold"style="color:white;">Info & Settings</span>
        </NavLink>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable d-flex flex-column" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column flex-grow-1">
        <!-- Nav items -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu fw-bold" aria-hidden="true"></span><div class="fw-bold">Dashboard</div> 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interactions">
                <span class="bi bi-list-nested-nav-menu fw-bold" aria-hidden="true"></span> <div class="fw-bold">Interactions</div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="activities">
                <span class="bi bi-list-nested-nav-menu fw-bold" aria-hidden="true"></span> <div class="fw-bold">Activities</div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quizquestions">
                <span class="bi bi-list-nested-nav-menu fw-bold" aria-hidden="true"></span> <div class="fw-bold">Quiz questions</div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sensordata">
                <span class="bi bi-list-nested-nav-menu fw-bold" aria-hidden="true"></span> <div class="fw-bold">Sensor data</div>
            </NavLink>
        </div>
    </nav>

    <div class="px-3 mt-auto mb-6 d-flex flex-column">
  <button class="btn fw-bold w-100 mb-4" 
        style="padding: 1rem; background-color: #218838; border: 2px solid #1c6236; color: white; box-shadow: 0 3px 6px rgba(0,0,0,0.25);" 
        @onclick="StartRobot">
    Start Robot
</button>

<button class="btn fw-bold w-100" 
        style="padding: 1rem; background-color: #c82333; border: 2px solid #892029; color: white; box-shadow: 0 3px 6px rgba(0,0,0,0.25);" 
        @onclick="StopRobot">
    Stop Robot
</button>
</div>
</div>


@code {
    private async Task StartRobot()
    {
        await mqttClient.PublishMessage("1", "robot/2242722/command/start");
    }

    private async Task StopRobot()
    {
        await mqttClient.PublishMessage("1", "robot/2242722/command/stop");
    }
}