@page "/activities"

<PageTitle>Activities</PageTitle>
<div class="container vh-85">
    <div class="row h-100">

        <!-- Linker kolom -->
        <div class="col-8 d-flex flex-column h-100">

            <!-- Twee blokken bovenaan -->
            <div class="row" style="height:35vh;">
                <div class="col-6 p-1">
                    <div class="card h-100 w-100 d-flex align-items-center justify-content-center text-center">
                        <h4>Lijst van activiteiten</h4>
                    </div>
                </div>

                <div class="col-6 p-1">
                    <div class="card h-100 w-100 d-flex align-items-center justify-content-center text-center">
                        <h4>aan te passen zaken voor geselcteerde activiteit (op basis van linker blok)</h4>
                    </div>
                </div>
            </div>

            <!-- Groot blok onderaan -->
            <div class="row" style="height:52vh;">
                <div class="col-12 p-1">
                    <div class="card h-100 w-100 d-flex align-items-center justify-content-center text-center">
                        <h4>gemiddelde reactiesnelheid en aantal correct beantwoordde vragen van de activiteit die hierboven is geselecteerd</h4>
                    </div>
                </div>
            </div>

        </div>

        <!-- Rechter kolom (full height) -->
        <div class="col-4 p-1" style="height:87vh;">
            <div class="card h-100 w-100 d-flex align-items-center justify-content-center text-center">
                <h4>grafiek met meest gespeelde activiteiten</h4>
            </div>
        </div>

    </div>
</div>