@page "/activities"
@inject ISqlActivitiesRepository SqlActivitiesRepository
@using Microsoft.IdentityModel.Tokens
@using SimpleMqtt
@using System.Text.Json
@inject SimpleMqttClient mqttClient
@rendermode InteractiveServer
<PageTitle>Activities</PageTitle>
<div class="container d-flex flex-column">
    <div class="row h-100">

        <!-- Linker kolom -->
        <div class="col-8 d-flex flex-column h-100">

            <!-- Twee blokken bovenaan -->
            <div class="row" style="height:35vh;">

                <!-- Activities lijst -->
                <div class="col-3 p-1">
                    <div class="card h-100 w-100 p-2">
                        @if (activities == null)
                        {
                            <p><em>Loading...</em></p>
                        }
                        else if (activities.Count == 0)
                        {
                            <p>No activities found.</p>
                        }
                        else
                        {
                            <!-- Header -->
                            <table class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>All activities</th>
                                    </tr>
                                </thead>
                            </table>

                            <!-- Scrollbare body -->
                            <div style="max-height: 28vh; overflow-y: auto;">
                                <table class="table table-striped mb-0">
                                    <tbody>
                                        @foreach (string activity in activities)
                                        {
                                            <tr style="cursor:pointer"
                                                class="@(activity == selectedActivity ? "table-primary" : "")"
                                                @onclick="() => GetSelectedActivityData(activity)">
                                                <td>@activity</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>

                <!-- Activity details -->
                <div class="col-9 p-1">
                    <div class="card h-100 w-100 p-2 align-items-center justify-content-center text-center">
                        @if (selectedActivity == "Quiz")
                        {
                            <h6>Average correctly answered for quiz, make it a circlegraph or show the correctly answered
                                ones</h6>
                        }
                        @if (selectedActivity == "Simon Says")
                        {
                            <h6>show the average amount of steps</h6>
                        }

                        @if (selectedActivity == "ReactionGame")
                        {
                            <h6>Average correctly answered for reaction game, make it a circlegraph</h6>
                        }
                        @if (selectedActivity == "No activity selected")
                        {
                            <p>Select an activity top left to show its data.</p>
                        }
                    </div>
                </div>
            </div>

            <!-- Groot blok onderaan -->
            <div class="row" style="height:52vh;">
                <div class="col-12 p-1">
                    <div class="card h-100 w-100 d-flex align-items-center justify-content-center text-center">
                        
                        @if (selectedActivity == "No activity selected")
                        {
                            <p>Select an activity top left to show its data.</p>
                        }
                        else
                        {
                            @* @if (AverageReactionTime != null)
                            {
                               <h6>Average reactiontime for selected game, maybe even make a graph that shows what
                            the reactiontimes are, like a scatterplot over time</h6>
                            } *@
                        }

                    </div>
                </div>
            </div>
        </div>

        <!-- Rechter kolom -->
        <div class="col-4 p-1" style="height:87vh;">
            <div class="card h-100 w-100 d-flex align-items-center justify-content-center text-center">
                <h4>grafiek met meest gespeelde activiteiten</h4>
                <h6>alle soorten spellen sorteren en dan de count hiervan in staven weergeven (misschien zelfs dat je kan filteren op afgelopen maand, jaar, dag)</h6>
            </div>
        </div>

    </div>
</div>
@code {
    private List<string>? activities;
    private string selectedActivity = "No activity selected";
    private List<GameResult>? selectedActivityData;
    private List<GameResult>? allActivities;
    @* private decimal? AverageReactionTime;
    private decimal? AverageCorrectAnsweredPercentage;
    private double? AverageSimonSaysAmount; *@
    protected override async Task OnInitializedAsync()
    {
        activities = await SqlActivitiesRepository.SelectActivities(1);
        selectedActivityData = await SqlActivitiesRepository.GetSelectedActivityData(1, selectedActivity);
        allActivities = await SqlActivitiesRepository.AllActivities(1);
    }
    private async Task GetSelectedActivityData(string activity)
    {
        selectedActivity = activity;
        selectedActivityData = await SqlActivitiesRepository.GetSelectedActivityData(1, selectedActivity);
    }

}