@page "/"
@using SimpleMqtt
@inject ISqlCommandoRepository SqlCommandoRepository
@rendermode InteractiveServer
@inject SimpleMqttClient mqttClient

<PageTitle>Dashboard</PageTitle>
<div class="container d-flex flex-column">

    <!-- Bovenste twee blokken -->
    <div class="row" style="height:55vh;">
        <div class="col-6 p-1 h-100">
            <div class="card h-100 w-100 d-flex align-items-center justify-content-center text-center">
                <h4>Grafiek met recente interacties komt hier</h4>
            </div>
        </div>

        <div class="col-6 p-1 h-100">
            <div class="card h-100 w-100 d-flex align-items-center justify-content-center text-center">
                <h4>Grafiek met gemiddelde reactietijd en/of interactiestatus komt hier</h4>
            </div>
        </div>
    </div>

    <!-- Commands onderaan -->
    <div class="row mt-2" style="height:32vh;"> 
        <div class="col-12 p-1">
            <div class="card h-100 w-100 d-flex flex-column">

                <div>
                    @if (commands == null)
                    {
                        <p><em>Loading...</em></p>
                    }
                    else if (commands.Count == 0)
                    {
                        <p>No commands found.</p>
                    }
                    else
                    {
                        <table class="table table-striped mb-0" style="height:32vh;">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Command</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CommandItem command in commands)
                                {
                                    <tr>
                                        <td>@command.Datum.ToString("dd-MM-yyyy")</td>
                                        <td>@command.Tijdstip.ToString(@"hh\:mm\:ss")</td>
                                        <td>@command.Soort</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>

            </div>
        </div>
    </div>
</div>
@code {
    private List<CommandItem>? commands;
    protected override async Task OnInitializedAsync()
    {
        commands = await SqlCommandoRepository.GetCommands(1);

        mqttClient.OnMessageReceived += async (sender, args) =>
        {
            Console.WriteLine($"Topic: {args.Topic} Message: {args.Message}");

            if (args.Topic!.StartsWith("robot/2242722/command/"))
            {
                await Task.Delay(50);
                commands = await SqlCommandoRepository.GetCommands(1);
                await InvokeAsync(StateHasChanged);
            }
        };
    }
}